.tags {
  margin: 0.5rem 0;
}

.tag {
  background: var(--tag-bg);
  color: var(--tag-text);
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.8rem;
  border: 1px solid var(--border);
}
